.trash__icon {
    width: 12.8px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

select {
    padding: 4px;
    border: none;
    background-color: transparent;

    &:not(:disabled) {
        border-bottom: 2px solid #E2E8F0;
    }

    &:focus {
        outline: none;
    }
}

span {
    font-size: 12px;
    margin-left: 4px;
    color: #1E293B;
}

.card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;

    h1 {
        font-size: 24px;
        font-weight: 600;
    }

    .button--add {
        background-color: #4CAF50;
        color: white;
        border-radius: 8px;
        padding: 4px 12px;
        height: fit-content;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    
        &:hover {
            background-color: #45a049;
        }

        &:disabled {
            background-color: rgba(76, 175, 80, 0.5);
            cursor: default;
        }
    }
}

.buttons__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;

    &--editing {
        gap: 4px;
    }

    .button {
        border-radius: 8px;
        padding: 4px 12px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    
        &--accept {
            background-color: #4CAF50;
            color: white;
    
            &:hover {
                background-color: #45a049;
            }
        }
    
        &--edit {
            background-color: #2196F3;
            color: white;
    
            &:hover {
                background-color: #1e88e5;
            }
        }
    
        &--cancel {
            background-color: #f44336;
            color: white;
    
            &:hover {
                background-color: #e53935;
            }
        }
    }
}

.return {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 12px;
        height: auto;
        cursor: pointer;
        transform: rotate(180deg);
    }
}

.certificate_render {
    font-size: 12px;
    margin-left: 4px;
    color: #1E293B;
}
