.layout {
    width: 614px;
    height: 428px;
    padding: 36px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.layout::-webkit-scrollbar {
    width: 4px;
}

.layout::-webkit-scrollbar-track {
    background: transparent;
}

.layout::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 8px;
    border: none;
}

.layout::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}